

 
#elementHeader {
	text-align: center;
}

#elementContainer{
	/*height:600px;*/
	/*background-color:red;*/
}

#myContainer{
	background-color: #eff;
	border-radius: 5px;
	margin-bottom: 20px;
}

.level {
	height: 600px;
	width: 100%;
	/*display: flex;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
	border-radius: 7px;
}
.level-left{
	width:65%;
	background: #3498db;
}
.level-right{
	width:30%;
	background: #e67e22;
}

.level-left, .level-right {
	
	height: 100%;
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	font-size: 36px;
	border-radius: 7px;
}

.column{
	background-color:red;
}
@media only screen and (max-width: 991px) {
	.level {
		flex-direction: column;
	}
	.level-left, .level-right {
		width: 100%;
	}
}