#imageContainer{
	background-color:#18FFFF;
	/*height:600px;*/
}

#navbarContainer{
	background-color: #E3008C;
}

#elementContainer{
	height:600px;
	background-color:red;
}

#myContainer{
	background-color: #eff;
}